.wrap {
  width: 1210px;
  margin: 0 auto;
}

.product-intro{
  width: 100%;
  margin-top: 10px;
}

.preview-wrap{
  float: left;
  width: 352px;
  height: 500px;
  background-color: pink;
  padding-bottom: 30px;
}

.main-img {
  position: relative;
  width: 350px;
  height: 350px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  background-color: gray;
}

.spec-list{
  position: relative;
  width: 352px;
  height: 54px;
  margin-bottom: 18px;

}

.prev,.next{
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 22px;
  height: 32px;
  cursor: pointer;
  background: url(../images/__sprite.png) no-repeat;
  
}
.prev{
  left: 0;
  background-position: 0 -54px;
}
.next{
  right: 0;
  background-position: -78px 0;
}

.spec-items{
  position: relative;
  width: 290px;
  height: 54px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
}

.spec-items ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 406px;
  height: 54px;
  background-color: aqua;
  transition:all 0.5s ;
}

.spec-items ul li {
  width: 54px;
  height: 54px;
  margin: 0 2px;
  float: left;
  background-color: #fff;
}
.spec-items ul li img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
}

.spec-items ul .img-hover img{
  border: 2px solid #e53e41;
}

.zoom-pup{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 236px;
  background-color: gold;
  opacity: 0.5;
}

.zoom-div{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -540px;
  width: 540px;
  height: 540px;
  background-color: red;
  overflow: hidden;
}
.zoom-div img {
  width: 800px;
  height: 800px;

}

.itemInfo{
  float: left;
  width: 590px;
  height: 800px;
  margin-left: 30px;
  margin-right: 24px;
  background-color: blue;
}
.track{
  float: left;
  width: 210px;
  height: 600px;
  background-color: green;
}