@font-face {
  font-family: "iconfont"; /* Project id 3942654 */
  src: url('iconfont.woff2?t=1678873375268') format('woff2'),
       url('iconfont.woff?t=1678873375268') format('woff'),
       url('iconfont.ttf?t=1678873375268') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-fangdajing:before {
  content: "\e609";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-tianqi:before {
  content: "\e694";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-maikefeng-xianxing:before {
  content: "\e8c2";
}

.icon-fangdajing1:before {
  content: "\e60d";
}

.icon-jiugongge:before {
  content: "\e608";
}

.icon-jiugongge1:before {
  content: "\e60a";
}

.icon-cha:before {
  content: "\e61c";
}

.icon-hanhan-01-01:before {
  content: "\e6c4";
}

